/*
 Folha de estilo 
 @aautor Emanuel Albuquerque
*/

/* Smartphone Portrait >>>>>>>>>>*/

/* Smartphone Landscape >>>>>>>>>*/
@media (min-width:576px){
    body{
        background-color: red;
    }
}
/* Tablet Portrait >>>>>>>>>>>>>>*/
@media (min-width:768px){
    body{
        background-color: rgb(25, 0, 255);
    }
}
/* Tablet Landscape >>>>>>>>>>>>>*/
@media (min-width:992px){
    body{
        background-color: rgb(255, 230, 0);
    }
}
/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width:1200px){
    body{
        background-color: rgb(9, 255, 0);
    }
}